In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../data/raw/dirty_data.csv")

In [4]:
print(df.shape)

(1011, 1)

In [5]:
df.head

<bound method NDFrame.head of      Animal type;Country;Weight kg;Body Length cm;Gender;Animal code;Latitude;Longitude;Animal name;Observation date;Data compiled by
0                     ;;;;;;;;;03.01.2024;James Johnson
1                     ;;;;;;;;;03.02.2024;James Johnson
2     European bison;Poland;930;335;male;;52.828845;...
3     European bison;Poland;909;311;not determined;;...
4     European bison™;Poland;581;277;female;;52.8341...
...                                                 ...
1006  red squirrel;Poland;0.346;20;female;;52.212001...
1007  hedgehog;Germany;1;23;female;;49.561356;11.105...
1008  hedgehog;Germany;0.5;17;female;;49.561569;11.0...
1009  red squirrel;Poland;0.346;20;female;;52.212001...
1010  hedgehog;Hungary;0.9;16;female;;47.509860;18.9...

[1011 rows x 1 columns]>

In [6]:
df = pd.read_csv("../data/raw/dirty_data.csv", sep=";")

In [8]:
print(df.shape)

(1011, 11)

In [9]:
print(df.head())

       Animal type Country  Weight kg  Body Length cm          Gender  \
0              NaN     NaN        NaN             NaN             NaN
1              NaN     NaN        NaN             NaN             NaN
2   European bison  Poland      930.0           335.0            male
3   European bison  Poland      909.0           311.0  not determined
4  European bison™  Poland      581.0           277.0          female

   Animal code   Latitude  Longitude Animal name Observation date  \
0          NaN        NaN        NaN         NaN       03.01.2024
1          NaN        NaN        NaN         NaN       03.02.2024
2          NaN  52.828845  23.820144       Szefu       01.03.2024
3          NaN  52.830509  23.826849         NaN       01.03.2024
4          NaN  52.834109  23.807093         NaN       01.03.2024

  Data compiled by
0    James Johnson
1    James Johnson
2     Anne Anthony
3     Anne Anthony
4     Anne Anthony

In [10]:
df = df.drop([0,1]).reset_index(drop=True)

In [14]:
print("new df shape:", df.shape)
print(df.head())

new df shape: (1009, 11)
       Animal type Country  Weight kg  Body Length cm          Gender  \
0   European bison  Poland      930.0           335.0            male
1   European bison  Poland      909.0           311.0  not determined
2  European bison™  Poland      581.0           277.0          female
3  European bisson  Poland      900.0           295.0            male
4  European buster  Poland      620.0           250.0          female

   Animal code   Latitude  Longitude Animal name Observation date  \
0          NaN  52.828845  23.820144       Szefu       01.03.2024
1          NaN  52.830509  23.826849         NaN       01.03.2024
2          NaN  52.834109  23.807093         NaN       01.03.2024
3          NaN  52.834759  23.817201         NaN       01.03.2024
4          NaN  52.834960  23.820750         NaN       01.03.2024

  Data compiled by
0     Anne Anthony
1     Anne Anthony
2     Anne Anthony
3     Anne Anthony
4     Anne Anthony

In [20]:
df.isnull().sum()

Animal type           18
Country               10
Weight kg             25
Body Length cm        25
Gender                17
Animal code         1009
Latitude              96
Longitude             96
Animal name          957
Observation date       0
Data compiled by       0
dtype: int64

In [22]:
print(df['Animal type'].unique())
print("------------------------------------------")
print(df['Country'].unique())
print("------------------------------------------")
print(df['Gender'].unique())

['European bison' 'European bison™' 'European bisson' 'European buster'
 'lynx' 'lynx?' 'red squirel' 'red squirrel' 'red squirrell' 'hedgehog'
 'wedgehod' nan 'ledgehod']
------------------------------------------
['Poland' 'Hungary' 'PL' 'Germany' 'Slovakia' 'Czech Republic' 'Czech'
 'Hungry' nan 'HU' 'Austria' 'Australia' 'CZ' 'DE' 'CC']
------------------------------------------
['male' 'not determined' 'female' nan]

In [25]:
df['Observation date'] = pd.to_datetime(df['Observation date'], format="%d.%m.%Y", errors="coerce")
df['Observation date']

0      2024-03-01
1      2024-03-01
2      2024-03-01
3      2024-03-01
4      2024-03-01
          ...
1004          NaT
1005          NaT
1006          NaT
1007          NaT
1008          NaT
Name: Observation date, Length: 1009, dtype: datetime64[ns]

In [ ]:
print(df['Observation date'].isna().sum())

43

In [35]:
df.dtypes

Animal type                 object
Country                     object
Weight kg                  float64
Body Length cm             float64
Gender                      object
Animal code                float64
Latitude                   float64
Longitude                  float64
Animal name                 object
Observation date    datetime64[ns]
Data compiled by            object
dtype: object

In [41]:
df_cleaning = df.copy()
df_cleaning.to_csv("../data/raw/wildlife_clean.csv", index=False)