In [8]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/raw/wildlife_clean.csv")

In [3]:
print(df.head())

       Animal type Country  Weight kg  Body Length cm          Gender  \
0   European bison  Poland      930.0           335.0            male
1   European bison  Poland      909.0           311.0  not determined
2  European bison™  Poland      581.0           277.0          female
3  European bisson  Poland      900.0           295.0            male
4  European buster  Poland      620.0           250.0          female

   Animal code   Latitude  Longitude Animal name Observation date  \
0          NaN  52.828845  23.820144       Szefu       2024-03-01
1          NaN  52.830509  23.826849         NaN       2024-03-01
2          NaN  52.834109  23.807093         NaN       2024-03-01
3          NaN  52.834759  23.817201         NaN       2024-03-01
4          NaN  52.834960  23.820750         NaN       2024-03-01

  Data compiled by
0     Anne Anthony
1     Anne Anthony
2     Anne Anthony
3     Anne Anthony
4     Anne Anthony

In [ ]:
df_cleaning = df.copy()

array(['Szefu', nan, 'Basia', 'Lolek', 'Lola', 'Bob Bobson', 'Klucha',
       'Zuzia', 'Bibi', 'Sissi', 'Puchatek'], dtype=object)

In [ ]:
# We drop Animal code (too many missing values)
df_cleaning = df_cleaning.drop(columns=['Animal code'])

In [ ]:
df_cleaning['Animal name'].isna().sum()

np.int64(957)

In [ ]:
# Since >90% missing, it’s not reliable.
df_cleaning = df_cleaning.drop(columns=['Animal name'])